.logo {
    position: relative;
    width: 117px;
    height: 147px;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    background-blend-mode: color;
}
.logo-container{
    display: flex;
    align-items: center;
    text-align: center;
}
.logo-container.small .logo {
    width: 50px;
    height: 50px;
}
.logo-container.medium .logo{
    width: 100px;
    height: 100px;
}

.logo-container.large .logo {
    width: 150px;
    height: 150px;
}
