.logo {
    position: relative;
    width: 117px;
    height: 147px;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    background-blend-mode: color;
}

.logo-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.logo-container.small .logo {
    width: 50px;
    height: 50px;
}

.logo-container.medium .logo {
    width: 100px;
    height: 100px;
}

.logo-container.large .logo {
    width: 150px;
    height: 150px;
}

.bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 40;
    height: 100vh;
    padding: 1rem;
    background-color: rgb(241, 214, 180);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 2rem 0;
        display: flex;
        font-size: 1.5rem;
        align-items: center;
        cursor: pointer;
        transition: 0.3s ease;
        border-radius: 2.5rem;
        background: rgba(187, 89, 89, 0.1);
        padding: 0.5rem;
    }

    li:hover {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 2rem;
    }

    li span {
        margin-left: 10px;
    }
}

.UserLog {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    right: 0;
    left: 3px;
    height: 10vh;
    padding: 1rem;
    width: 100%;
    justify-content: flex-end;
    background-color: rgb(241, 214, 180);
    font-size: 1rem;
    align-items: center;
    span{
        margin-right: 15px;
        vertical-align: middle;
    }
    .icon {
        font-size: 1.5rem;
        vertical-align: middle;
        cursor: pointer;
        transition: all 0.3s ease-in-out; 
        margin-right: 10px;       
    }
    .icon:hover{
        background-color: burlywood;
        border-radius: 2rem;
    }
}