.reg-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 95vh;
    width: 400px;
    border-radius: 2rem;
    background-color: wheat;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 80%;

        label {
            display: flex;
            text-align: left;
        }
    }

    p {
        text-align: center;
    }

}

.log-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: auto;
    width: 400px;
    border-radius: 2rem;
    background-color: wheat;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;

        label {
            display: flex;
            text-align: left;
        }
    }


    p {
        text-align: center;
    }

}

.link {
    &:hover {
        color: #cf2929;
    }

    &:visited {
        color: blueviolet;
    }
}

.input-icon {
    display: flex;
    padding: 5px;
    border: none;
    border-radius: 5px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: white;
    width: 100%;
    height: 5vh;

    .input-in {
        margin: 1rem;
        font-size: 1.2rem;
        color: #666;
    }

    input {
        border: none;
        outline: none;
        font-size: 1rem;

    }

}

@media screen and (max-width: 800px) {
    .form {
        width: 100%;
        padding: 1.5rem;
    }

}

@media screen and (max-width: 600px) {
    /* .inventory {
        margin-left: 150px;
    } */
    .activity{
        margin-left: 150px;
    }
    .tent{
        margin-left: 150px;
    }

}

.button {
    padding: 1rem;
    font-size: larger;
    transition: ease-in-out;
    border-radius: 2rem;
    background-color: var(--button);
    border: none;
    cursor: pointer;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 20px 85px;

    &:hover {
        animation: 6s ease-in linear infinite;
        background-color: var(--hover);
        color: white;
    }
}

.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 65vh;
    width: 70%;
    border-radius: 2rem;
    background-color: rgb(236, 218, 186);
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    align-items: center;

    button {
        margin: 1rem;
        padding: 1rem;
    }
}

.role {
    margin: 0;
    flex-direction: row;

    input[type='radio'] {
        flex-direction: row;
    }

    label {
        display: flex;
        align-items: left;
        gap: 10px;
        cursor: pointer;
    }
}

.inv-container {
    height: 100vh;
    margin-left: 150px;
    padding: 1rem;
    margin-right: 50px;
    border-radius: 1rem;
    overflow: auto;
    width: 100%;

    .inventory {
        margin: 2rem;
        padding: 2rem;

    }
    
    h3{
        margin: 1rem 0;
    }
   

}
.tent-container{
    height: 100vh;
    margin-left: 150px;
    padding: 1rem;
    margin-right: 50px;
    border-radius: 1rem;
    overflow: auto;
    width: 100%;
    .tent {
            margin: 2rem;
            padding: 2rem;
    
        }
}
.activity-container{
    height: 100vh;
    margin-left: 150px;
    padding: 1rem;
    margin-right: 50px;
    border-radius: 1rem;
    overflow: auto;
    width: 100%;
    .activity {
            margin: 2rem;
            padding: 2rem;
    
        }
}

.add-btn{
    margin: 1rem;
    margin-left: 0;
}

h1{
    font-size: bold;
    text-align: center;
}
.name-bar{
    background-color: rgb(252, 181, 89);   
}
.back-row{
    background-color: #54d9f0;
    
}
